@charset "utf-8";

// Define defaults for each variable.

$base-font-family: Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$title-font-family: Palatino, serif, !default;
$base-font-size:   18px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.3 !default;

$spacing-unit:     30px !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$text-color:       $grey-color-dark;
$text-color-header: #eee;
$background-color: #fff; /*#F9FBF2 !default;*/
$background-color2: #1A2930 !default;
$background-color3: #F7D750 !default; /*FAD7BE*/
$brand-color:      #132C42 !default; /*1C0E58*/
$link-color:       #132C42 !default;

$dark-accent-color: #2C363F;
$medium-accent-color: #22AED1;
$light-cream-color: #F2F5EA;



$table-text-align: left !default;

// Width of the content area
$content-width:    1000px !default;

$on-palm:          700px !default;
$on-laptop:        1000px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "healthyai/base",
  "healthyai/layout",
  "healthyai/syntax-highlighting"
;
